.recipe-detail {

    header {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .recipe-title {
            margin-bottom: 0.5rem;
            font-size: 2.5rem;
        }
    
        .recipe-subtitle {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
    
        .header-division {
            width: 100%;
            display: block;
            border-style: inset;
            border: 1px solid grey;
        }
    }

    .recipe-informations {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .recipe-main {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-container {
                width: 70%;
                margin-bottom: 3rem;

                img {
                    width: 100%;
                }
            }

            .step-section {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .step-section-title {
                    font-size: 1.75rem;
                    margin-bottom: 1.5rem;
                }
                    
                .step {
                    margin-bottom: 2rem;
                    font-size: 1.25rem;
                    list-style-type: decimal;
                }
            }
        }

        .recipe-secondary {
            width: 38%;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #f5f5f5;
            border-radius: 6px;
            border: 1px solid #DEDEDE;
            box-shadow: 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

            .button-container {
                
                margin: auto;
                margin-bottom: 4rem;
                display: flex;

                .update-button {
                    width: 10rem;
                    height: 2.5rem;
                    display: block;
                    border-radius: 6px;
                }

                .modify-button {
                    margin-right: 1rem;
                    color: #0652DD;
                    border: 1px solid #0652DD;

                    &:hover {
                        color: white;
                        background: #0652DD;
                    }
                }

                .delete-button {
                    color: #EA2027;
                    border: 1px solid #EA2027;

                    &:hover {
                        color: white;
                        background: #EA2027;
                    }
                }
            }

            .aside-rubrique {
                font-size: 1.25rem;
            }

            .ingredient-rubrique {

                margin-top: 2rem;

                .ingredient-rubrique-title {
                    margin-bottom: 2rem;
                    font-size: 1.25rem;
                }

                .ingredient {
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .button-container {
        flex-direction: column;

        .update-button {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {

    .recipe-informations {
        flex-direction: column;
        align-items: center !important;
    }

    .recipe-main, .recipe-secondary {
        width: 90% !important;
    }

    .recipe-secondary {
        margin-bottom: 2rem;
    }
}