.recipe-form {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .form-title {
        font-size: 2rem;
    }

    .main-form {
        width: 50%;
        padding-bottom: 4rem;

        .form-section {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            .form-section-title {
                margin-bottom: 0;
            }

            .main-form-input {
                margin: 0.5rem 0;
                padding: 0.4rem 0.6rem;
                display: block;
                border-radius: 5px;
                border: 1px solid $color-1;
                outline: none;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
            }

            .range-input {
                display: block;
                margin: 0.9rem 0;
            }

            .ingredient-input-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.9rem 0;

                .ingredient-input {
                    width: 29%;
                    padding: 0.4rem 0.6rem;
                    display: block;
                    border-radius: 5px;
                    border: 1px solid $color-1;
                    outline: none;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
                }
            }

            .step-input-container {
                
                margin: 0.7rem 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .step-input {
                    width: 91%;
                    margin: 0;
                    height: 6rem !important;
                    resize: none;
                }
            }

            .delete-control-button {
                
                color: #EA2027;
                border: 1px solid #EA2027;
                border-radius: 5px;

                &:hover {
                    color: white;
                    background-color: #EA2027;
                }
            }

            .add-control-button {
                
                margin-top: 1rem;
                border-radius: 5px;

                color: #009432;
                border: 1px solid #009432;

                &:hover {
                    color: white;
                    background-color: #009432;
                }
            }
        }

        .step-section {
            padding-top: 2rem;
        }

        .main-form-submit {
            width: 8rem;
            margin: auto;
            margin-top: 2rem;
            padding: 0.4rem 0.5rem;
            display: block;
            color: #009432;
            background: white;
            border: 1px solid #009432;
            border-radius: 5px;
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:hover {
                
                color: white;
                background: #009432;
            }
        }

        input:invalid, textarea:invalid {
            border: 1px solid red !important;
        }
    }
}

@media screen and (max-width: 768px) {

    .main-form {
        width: 100% !important;
    }

    .ingredient-input-container {
        margin: 1.5rem 0 !important;
        flex-direction: column !important;
    }

    .ingredient-input {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }

    .delete-control-button {
        width: 100% !important;
    }

    .step-input-container {
        margin: 1rem 0 !important;
        flex-direction: column !important;
    }

    .step-input {
        width: 100% !important;
        margin-bottom: 1rem !important;
    }
}